{% extends 'home.html' %}

{% block title %}{% endblock title %}

{% block category %}{% endblock category %}

{% block pagination %}
<div class="col p-4 d-flex flex-column position-static">
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <span class="current-page">{{ i }}</span>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <a href="?query={{ query }}&page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
</div>
{% endblock pagination %}






