{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}


{% block title %}{{post_detail.title}}{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">


<!-- Post section -->
<article class="blog-post">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-1" style='padding-right:0px; width:70px'>
                <a href="{% url 'users:profile' post_detail.author.profile.slug %}">
                    <img src="{{ post_detail.author.profile.image.url }}" alt="photo" width="50" height="50" class="rounded-circle">
                </a>
            </div>
            <div class="col-9" style='margin-top:15px'>
                <a href="{% url 'users:profile' post_detail.author.profile.slug %}" class='text-muted'>
                    <h5>{{post_detail.author.username}}</h5>
                </a>
                <p class='text-muted'>{{ post_detail.last_updated|date:'F d, o' }}</p>
            </div>
            <div class="col text-md-end">
                {% if request.user == post_detail.author %}
                <form method="POST" action="{% url 'blog:delete_post' post_detail.slug post_detail.id %}">{% csrf_token %}
                    <a href="{% url 'blog:edit_post' post_detail.slug post_detail.id %}"><button type="button" class="btn btn-warning">
                        Update
                      </button></a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Post-{{post_detail.id}}">
                        Delete
                      </button>
                      <!-- Modal -->
                      <div class="modal fade" id="Post-{{post_detail.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this post?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {{post_detail.title}}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style='width:70px'>NO!</button>
                              <button type="submit" class="btn btn-danger" style='width:70px'>Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </form>
                {% endif %}

                <form method='POST'>{% csrf_token %}
                    <button style="background-color: transparent; border: none;" name='like_post'>
                        {% if user.is_authenticated %}
                            {% if is_liked %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>
                                <p>{{post_detail.likes.all.count}}</p>
                                <input type='hidden' name='option' value='Unlike'>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                <p>{{post_detail.likes.all.count}}</p>
                                <input type='hidden' name='option' value='Like'>
                            {% endif %}
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            <p>{{post_detail.likes.all.count}}</p>
                        {% endif %}
                    </button>
                </form>
                
            </div>
        </div>
        <h2 class="blog-post-title mb-1">{{post_detail.title}}</h2>
        {{post_detail.body|linebreaks}}
    </div>
</article>


<!-- Comment section -->
{% block comment %}

<section class="comment-section">
    <div class='btm'>
        <h3>{{comments.count}} Comment{% if comments.count >= 2 %}s{% endif %}</h3>
        <form method="POST" name='comment-form' class="comment-form">{% csrf_token %}
            {{ comment_form }}
            <button type="submit" name='post' value='{{post_detail.slug}}' class='btn btn-primary'>Post comment</button>
        </form>
        {% if not comments %}
            <p>There are no comments yet. Be the first to comment!</p>
        {% endif %}

        {% recursetree comments %}
            <div class="comment">
                <a href="{% url 'users:profile' node.author.profile.slug %}" class='text-muted'>
                    <img src="{{ node.author.profile.image.url }}" class="avatar" alt="Author">
                    <p style='margin-bottom: 0px'>{{ node.author|capfirst }}</p></a>
                <p class="text-muted">{{ node.date_create|date:"F d, Y" }}</p>
                <p class="comment-text">{{ node.comment }}</p>
                <div class="comment-actions">
                    {% if node.author == request.user %}
                        <form method="POST" action="{% url 'blog:delete_comment' post_detail.slug node.id %}">{% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#CommentDelete-{{node.id}}">Delete</button>
                            <div class="modal fade" id="CommentDelete-{{node.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this comment?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{node.comment}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger btn">Delete</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}

                    {% if not node.is_leaf_node %}
                        <button type="button" class="btn btn-primary btn-sm show-replies-button" data-node-id="{{ node.id }}">Show replies</button>
                    {% endif %}
                        <button type="button" class="btn btn-info btn-sm reply-button" data-node-id="{{ node.id }}">Reply</button>
                </div>

                <form method="POST" class="comment-form reply-form" data-node-id="{{ node.id }}" style="display: none;">{% csrf_token %}
                    {{ comment_form }}
                    <button type="submit" name="post" value="{{ post_detail.slug }}" class="btn btn-primary">Reply</button>
                    <input type="hidden" name="parent" value="{{ node.id }}">
                </form>

                <div class="replies my-3" data-node-id="{{ node.id }}" style='display:none'>
                    {% if not node.is_leaf_node %}
                        {{ children }}
                    {% endif %}
                    <form method="POST" class="comment-form reply-comment-form" data-node-id="{{ node.id }}" style="display: none;">{% csrf_token %}
                        {{ comment_form }}
                        <button type="submit" name="post" value="{{ post_detail.slug }}" class="btn btn-primary">Reply</button>
                        <input type="hidden" name="parent" value="{{ node.id }}">
                    </form>
                </div>
            </div>
        {% endrecursetree %}
    </div>
</section>

<script>
const replyButton = document.querySelectorAll('.reply-button');
const replyCommentButton = document.querySelectorAll('.reply-comment-buttom');
const showrepliesButton = document.querySelectorAll('.show-replies-button');

replyButton.forEach(button => {
    button.addEventListener('click', () => {
        const nodeId = button.dataset.nodeId;
        const replyForm = document.querySelector(`.reply-form[data-node-id="${nodeId}"]`);


        if (replyForm.style.display === 'none') {
            replyForm.style.display = 'block';
        } else {
            replyForm.style.display = 'none';
        }
    });
});


replyCommentButton.forEach(button => {
    button.addEventListener('click', () => {
        const nodeId = button.dataset.nodeId;
        const replyCommentForm = document.querySelector(`.reply-comment-form[data-node-id="${nodeId}"]`);

        if (replyCommentForm.style.display === 'none') {
            replyCommentForm.style.display = 'block';
        } else {
            replyCommentForm.style.display = 'none';
        }
    });
});

showrepliesButton.forEach(button => {
    button.addEventListener('click', () => {
        const nodeId = button.dataset.nodeId;
        const replies = document.querySelector(`.replies[data-node-id="${nodeId}"]`);

        if (replies.style.display === 'none') {
            replies.style.display = 'block';
        } else {
            replies.style.display = 'none';
        }
    });
});
</script>
                
  {% endblock comment %}

{% endblock content %}